/* 
Fontes:
font-family: 'IBM Plex Sans', sans-serif;
font-family: 'Inter', sans-serif;
font-family: 'Roboto Mono', monospace; */

/* Estilização Header */

html, body{
    margin: 0;
    padding: 0;
    font-family: 'IBM Plex Sans', sans-serif;
}

.container{
    color: black ;
    background-color: white;
    height: 70px;
    box-shadow: 0px 4px 30px -10px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.logo{
    font-size: 30px;
    font-weight: 700;
    margin-left: 118px;
}

nav{
    padding-left: 118px;

}

nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 250px;
}

nav ul li{
    list-style-type: none;
}

nav ul li:hover{
    transform: scale(1.1);
}

li a{
    color: black ;
    text-decoration: none;
    width: 49px;
    height: 16px;
    padding: 30px;
}

/* Propriedades tag Main */

main{
    display: flex;
    margin-top: 130px;    
}

/* Propriedades cards e itens do produto */

section ul{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    margin-top: 0px;
    
}


section ul .card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    margin: 15px; 
    margin-top: 0px;
    padding-left: 15px ;
    width: 350px;
    height: 500px; 
    border: 3px solid #F5F5F5;
}

.figure{
    overflow: hidden ;
}

.card img{
    width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.card img:hover{
    transform: scale(1.2);
}


.card .tag{
    border: 2px solid #382a05;
    background-color: black; 
    color: #FFFFFF;
    font-weight: 400;
    font-size: 12px;
    padding: 3px;
}

.card .nome{
    font-weight: 700;
    font-size: 18px;
}

.card .descricao{
    font-weight: 400;
    font-size: 14px;
}

.card .preco{
    font-weight: 600;
    font-size: 18px;
}

.card .add_carrinho{
    border: 2px solid #FBF4E1;
    background-color: #FBF4E1;    
    cursor: pointer;
}

.add_carrinho:hover{
    transform: scale(1.2);
}

/* Renderização Carrinho de Compras e Formulário */

aside{
    display: flex;
    flex-direction: column;
    min-width: 500px;
    background-color: ;
    margin-right: 189px;
    font-family: 'IBM Plex Sans', sans-serif;
}

/* Estilização campo de pesquisa */
.campo_pesquisar{
    width: 300px;
    height: 60px;
    text-align: start;
    
    background-color: #FBF4E1; 
    border: 1px solid #FBF4E1; 
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 15px;
}

.botao_pesquisar{
    width: 90px;
    height: 60px;
    border: 1px solid black;
    background-color: black;
    color: #FFFFFF;
    font-family: 500;
    margin-left: 0px;
    cursor: pointer;
}

/* Estilização título "Carrinho de Compras" */
.titulo_carrinho{
    width: 400px;
    height: 60px;
    background-color: black;
    border: 1px solid black;
    color: #FFFFFF;
    text-align: center;
    font-weight: 700;
    font-size: 18px;
}

/* Estilização da ul, li, div1 e div2 - carrinho com os produtos */

.produtos_carrinho{
    padding-top: 15px;
    width: 380px;
    min-height: 300px;
    max-height: 500px;
    overflow: scroll;
    padding: 10px;
    background-color: #FBF4E1;
}

.card_carrinho{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: flex-start;
    border: 1px solid black;
    padding: 5px;
    margin-bottom: 5px;
}
 
.div1{
    width: 150px;
    align-items: flex-start;
    margin-left: 0;

}

.div2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.img_carrinho{
    width: 150px;
}

.nome_carrinho{
    margin: 10px;
    font-weight: 700;
    font-size: 20px;
}

.preco_carrinho{
    margin: 10px;
    font-weight: 600;
    font-size: 16px;

}

.botao_remover{
    margin: 5px;
    background-color: #FBF4E1;
    color: #3b2f2f;
    border: none;
    cursor: pointer;
}

.botao_remover:hover{
    transform: scale(1.1);
}

/* Estilização box Quantidade */

.box_quantidade{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    background-color: black;
    width: 370px;
    height: 60px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Estilização box Total */

.box_total{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    background-color: black;
    width: 370px;
    height: 60px;
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

